:root{
    --start:rgb(252, 178, 178);
    --end : rgb(148, 228, 145);
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: linear-gradient(90deg ,var(--start), var(--end));

    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 80%;
    height: 540px;

    display: grid;
    grid-template: "first" 1fr "second" 1fr "third" 1fr "forth" 1fr /100% ;
    gap: 10px;
}
main *{
    width: 200px;

    border: 1px solid black;

    font-size: 24px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;

    box-sizing: border-box;
    padding: 30px;

    transition: width 1s;
}
main *:hover{
    width: 100%;
}