:root{
    --start : rgb(123, 230, 81);
    --middle : rgba(255, 255, 255, 0.938);
    --end : rgb(241, 150, 237);
}
*{
    margin:0;
    padding:0;
    outline: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: linear-gradient(90deg,var(--start)3%,var(--middle),var(--end)97%);

    overflow: hidden;
}
div{
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;

    font-size: 22px;
    font-weight: 600;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
